// =========================== table content main

.content__table {
	overflow: hidden;
	display: grid;
	grid-template-columns: minmax(auto, 1fr);
	position: relative;

	table {
		width: 100%;
		position: absolute;
		border-collapse: collapse;
		tr th {
			border: 1px solid #e6ebf0;
		}
	}
	thead {
		height: 48px;
		background: #f0f2f4;
	}

	thead,
	tbody {
		tr th {
			text-align: center;
			width: 193px;
			height: 48px;
		}

		th:first-child {
			max-width: 172px;
		}

		a {
			display: block;
			color: #909090;
		}
	}
	thead {
		tr th {
			color: #7b8395;
			vertical-align: middle;
		}
	}
	tbody {
		background: #ffffff;
		tr th {
			color: #1f232e;
		}
	}
}

// ===================== image
.up{
transform:rotate(-180deg);
}

@media (max-width: 1200px) {
	.sidebar {
		display: none;
	}
	.content {
		grid-column: 1/5;
	}
}

@media (max-width: 792px) {
	.sidebar {
		grid-column: 1/5;
	}
}
@media (max-width: 640px) {
	.main {
		padding: 0;
		display: grid;
		grid-template-rows: 155px 80px 280px 70px 1fr;
	}
}
